/* CSS declarations go here */
body{
    background-color:#ffffe6;
}
header,header>nav,header>nav>div{
    background-color: #49525C !important;
    height: 50px;
}
header>nav>div>h3{
    margin:10px auto;
    color: #00C775 !important;
}
#loginDiv,#registerDiv{
    background: white;
    opacity: .9;
    margin-top:100px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -1px 1px 5px 3px #aaa; 
}
#login>h2,#register>h2{
    text-align: center;
}
#loginRegisterLink{
    float: right;
    margin-right:50px;
    color:#EC9035;
    font-size: 20px;
}
.errorMsgRed{
    color:red;
}
.errorMsgGreen{
    color: green;
}
.hide{
    display: none;
}
.show{
    display: block;
}

#postDiv{
    margin:20px;
}