<template name="dashboard">
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
               <h3>zipBoard
                    <p style="float:right">{{email}}/<a id="logout" style="color:red;">LogOut</a>
                    </p>
               </h3>
               
            </div>
         </nav>
    </header>
    <div id="postDiv" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-push-2 col-md-push-2">
        <form id="post" class="form-horizontal">
            <div class="form-group">
                <label for="post" class="col-sm-2 control-label">What's on your Mind</label>
                <div class="col-sm-10">
                    <textarea required class="form-control" rows="3" id="postArea" placeholder="feeling crazy.........."></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="postBtn" type="submit" class="btn btn-default btn-success">Post</button>

                </div>
            </div >
        </form>   
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-push-2 col-md-push-2">
            {{#each post}}
            <p>{{msg}}</p> Date:<span>{{time}}</span>
            {{/each}}
        </div> 
    </div>
</template>