<template name="login">
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
               <h3>zipBoard</h3>
            </div>
         </nav>
    </header>
    <div id="loginDiv" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-push-4 col-md-push-4 col-sm-push-3">
        <form id="login" class="form-horizontal">
            <h2>Login</h2>
            <div class="form-group">
                <div class="col-sm-10 col-sm-push-2">
                    <p id="errorMsg" class="hide"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="userEmail" class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                <input type="email" required class="form-control" id="userEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="userPwd" class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                <input type="password" required class="form-control" id="userPwd" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="login" type="submit" class="btn btn-default btn-success">Login</button>
                    <a id="loginRegisterLink" href="register">Register</a>
                </div>
            </div>
        </form>
        
    </div>
    
</template>